.storybook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
  padding: 0.9375rem 1.25rem;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 0.375rem 0 0.375rem 0.625rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1;
}

.storybook-header button + button {
  margin-left: 0.625rem;
}

.storybook-header .welcome {
  margin-right: 0.625rem;
  color: #333;
  font-size: 0.875rem;
}
