.storybook-page {
  margin: 0 auto;
  padding: 3rem 1.25rem;
  max-width: 37.5rem;
  color: #333;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-page h2 {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0.25rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.storybook-page p {
  margin: 1em 0;
}

.storybook-page a {
  color: inherit;
}

.storybook-page ul {
  margin: 1em 0;
  padding-left: 1.875rem;
}

.storybook-page li {
  margin-bottom: 0.5rem;
}

.storybook-page .tip {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.625rem;
  border-radius: 1em;
  background: #e7fdd8;
  padding: 0.25rem 0.75rem;
  color: #357a14;
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 0.75rem;
}

.storybook-page .tip-wrapper {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.storybook-page .tip-wrapper svg {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1875rem;
  margin-right: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
}

.storybook-page .tip-wrapper svg path {
  fill: #1ea7fd;
}
